@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0px;
	font-family: Poppins;
}

body {
	background-color: #e6e6e6;
}

nav {
	height: 120px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.favorites {
	font-size: 25px;
}

.favorites p {
	text-decoration: underline;
}

.favorites,
.logo,
.left-div {
	display: flex;
	flex: 0 1 200px;
}

@media (max-width: 800px) {
	.left-div {
		flex: 0 1 0px;
	}
}

.loadingGif {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchbar-container {
	display: flex;
	margin: 0px 10px;
	padding: 0;
	align-items: center;
	flex: 1;
	align-items: stretch;
}

.searchbar {
	background: #ffffff;
	padding-right: 20px;
	flex: 1;
	border-radius: 12px;
}

.searchbar input {
	padding: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	border: none;
	width: 100%;
	font-size: 20px;
}

.searchbar input:focus {
	outline: none;
}

.searchbar-btn button {
	background-color: #363636;
	border: none;
	border-radius: 12px;
	height: 100%;
	color: white;
	padding: 10px 12px;
	margin-left: 20px;
	cursor: pointer;
}
.searchbar-btn button:hover {
	background-color: gray;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	font-size: 20px;
}

.filter-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0 10px 0;
}

.type-filter-container p,
.region-filter-container p {
	font-size: 18px;
}

.selectType-box,
.selectRegion-box {
	display: flex;
	width: 150px;
	font-size: 16px;
}

.type-filter-container {
	margin-right: 20px;
}

.region-filter-container {
	margin-left: 20px;
}

.pokedex-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	padding: 0px 10px 20px 10px;
}

@media screen and (max-width: 992px) {
	.pokedex-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.pokedex-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.pokemon-card {
	display: flex;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	background-color: #ffffff;
}

.pokemon-img {
	width: 125;
	height: 125px;
}

.card-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-top h3 {
	font-size: 26px;
	font-weight: bold;
}

.pokemon-id {
	font-size: 24px;
}

.card-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 20px 30px 10px;
	flex: 1;
	text-transform: capitalize;
}

.favorite-btn {
	background-color: #ffffff;
	border: none;
}

.favorite-heart {
	font-size: 20px;
	border-radius: 8px;
}

.favorite-heart:hover {
	background-color: lightgrey;
}

.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.App {
	font-family: sans-serif;
}

.not-found-text {
	text-align: center;
	font-size: 24px;
	padding: 100px;
}

.pagination-btn {
	border: none;
	margin: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: Transparent;
}

.loading-icon-container {
	display: flex;
	justify-content: center;
}

.loading-icon {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.loading-icon div {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #363636;
	border-color: #363636 transparent #363636 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.heart-tooltip {
	position: relative;
	display: inline-block;
	padding-left: 15px;
}

.heart-tooltip .tooltip-text {
	visibility: hidden;
	background-color: #363636;
	color: #fff;
	text-align: center;
	border-radius: 12px;
	padding: 5px;
	width: 135px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0%;
	margin-left: -45px;
	opacity: 0;
	transition: opacity 2s;
}

.heart-tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.favorite-number {
	padding-left: 2px;
}

.pokemon-type {
	display: flex;
}

#type-box {
	padding: 3px;
	border-radius: 10px;
	margin-right: 10px;
	font-size: 18px;
	margin-top: 5px;
}

.grass {
	background: #a7db8d;
	border: 2px solid #3d7422;
	color: #3d7422;
}

.water {
	background: #9db7f5;
	border: 2px solid #223a72;
	color: #223a72;
}

.fire {
	background: #f5ac78;
	border: 2px solid #a11e15;
	color: #a11e15;
}

.poison {
	background: #dba2db;
	border: 2px solid #682a68;
	color: #682a68;
}

.bug {
	background: #c6d16e;
	border: 2px solid #6d7815;
	color: #6d7815;
}

.flying {
	background: #c6b7f5;
	border: 2px solid #5b4c8a;
	color: #5b4c8a;
}

.normal {
	background: #c6c6a7;
	border: 2px solid #505039;
	color: #505039;
}

.electric {
	background: #fae078;
	border: 2px solid #756318;
	color: #756318;
}

.ground {
	background: #ebd09d;
	border: 2px solid #795a2c;
	color: #795a2c;
}

.fairy {
	background: #f4bdc9;
	border: 2px solid #79444f;
	color: #79444f;
}

.fighting {
	background: #d6817d;
	border: 2px solid #66130f;
	color: #66130f;
}

.ghost {
	background: #a292bc;
	border: 2px solid #493963;
	color: #493963;
}

.psychic {
	background: #fa92b2;
	border: 2px solid #d4285b;
	color: #d4285b;
}

.rock {
	background: #d1c17d;
	border: 2px solid #786824;
	color: #786824;
}

.steel {
	background: #d1d1e0;
	border: 2px solid #464652;
	color: #464652;
}

.ice {
	background: #bce6e6;
	border: 2px solid #638d8d;
	color: #638d8d;
}

.dragon {
	background: #ad8cfc;
	border: 2px solid #361583;
	color: #361583;
}

.dark {
	background: #a29288;
	border: 2px solid #30251f;
	color: #30251f;
}

.footer {
	padding: 10px 0 10px 0;
	text-align: center;
	width: 100%;
	bottom: 0;
	flex-shrink: 0;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.footer p {
	margin: 10px;
}

.githubIcon {
	color: #000000;
	font-size: 25px;
	padding: 0 0 0 5px;
}
