@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0px;
	font-family: Poppins;
}

body {
	background-color: #e6e6e6;
}

nav {
	height: 120px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.favorites {
	font-size: 25px;
}

.favorites p {
	text-decoration: underline;
}

.favorites,
.logo,
.left-div {
	display: flex;
	flex: 0 1 200px;
}

@media (max-width: 800px) {
	.left-div {
		flex: 0 1 0px;
	}
}

.loading {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loading-text {
	font-weight: 600;
	font-size: 24px;
}

.searchbar-container {
	display: flex;
	margin: 0px 10px;
	padding: 0;
	align-items: center;
	flex: 1;
	align-items: stretch;
}

.searchbar {
	background: #ffffff;
	padding-right: 20px;
	flex: 1;
	border-radius: 12px;
}

.searchbar input {
	padding: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	border: none;
	width: 100%;
	font-size: 20px;
}

.searchbar input:focus {
	outline: none;
}

.searchbar-btn button {
	background-color: #363636;
	border: none;
	border-radius: 12px;
	height: 100%;
	color: white;
	padding: 10px 12px;
	margin-left: 20px;
	cursor: pointer;
}
.searchbar-btn button:hover {
	background-color: gray;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	font-size: 20px;
}

.filter-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0 10px 0;
}

.type-filter-container p,
.region-filter-container p {
	font-size: 18px;
}

.selectType-box,
.selectRegion-box {
	display: flex;
	width: 150px;
	font-size: 16px;
}

.type-filter-container {
	margin-right: 20px;
}

.region-filter-container {
	margin-left: 20px;
}

.pokedex-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	padding: 0px 10px 20px 10px;
}

@media screen and (max-width: 992px) {
	.pokedex-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.pokedex-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.pokemon-card {
	display: flex;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	background-color: #ffffff;
	transition: all 0.2s ease-in-out;
	height: 110px;
}

.pokemon-card:hover {
	transform: scale(1.03);
	cursor: pointer;
}

.pokemon-img {
	width: 115px;
	height: 115px;
	padding-left: 5px;
}

.card-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-top h3 {
	font-size: 26px;
	font-weight: bold;
	margin-left: 6px;
}

.pokemon-id {
	font-size: 24px;
}

.card-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 20px 30px 10px;
	flex: 1;
	text-transform: capitalize;
}

.favorite-btn {
	background-color: #ffffff;
	border: none;
}

.favorite-heart {
	font-size: 24px;
	border-radius: 8px;
}

.favorite-heart:hover {
	background-color: lightgrey;
	cursor: pointer;
}

.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.App {
	font-family: sans-serif;
}

.not-found-text {
	text-align: center;
	font-size: 24px;
	padding: 100px;
}

.pagination-btn {
	border: none;
	margin: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: Transparent;
}

.loading-icon-container {
	display: flex;
	justify-content: center;
}

.loading-icon {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.loading-icon div {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #363636;
	border-color: #363636 transparent #363636 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.heart-tooltip {
	position: relative;
	display: inline-block;
	padding-left: 15px;
}

.heart-tooltip .tooltip-text {
	visibility: hidden;
	background-color: #363636;
	color: #fff;
	text-align: center;
	border-radius: 12px;
	padding: 5px;
	width: 135px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0%;
	margin-left: -45px;
	opacity: 0;
	transition: opacity 2s;
}

.heart-tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.favorite-number {
	padding-left: 2px;
}

.pokemon-type {
	display: flex;
}

.pokemon-type img {
	height: 50px;
	width: 50px;
}

#type-box {
	padding: 3px;
	border-radius: 10px;
	font-size: 18px;
	width: 50px;
	height: 50px;
}

.grass {
	background: #a7db8d;
	border-radius: 12px;
}

.water {
	background: #9db7f5;
	border-radius: 12px;
}

.fire {
	background: #f5ac78;
	border-radius: 12px;
}

.poison {
	background: #dba2db;
	border-radius: 12px;
}

.bug {
	background: #c6d16e;
	border-radius: 12px;
}

.flying {
	background: #c6b7f5;
	border-radius: 12px;
}

.normal {
	background: #c6c6a7;
	border-radius: 12px;
}

.electric {
	background: #fae078;
	border-radius: 12px;
}

.ground {
	background: #ebd09d;
	border-radius: 12px;
}

.fairy {
	background: #f4bdc9;
	border-radius: 12px;
}

.fighting {
	background: #d6817d;
	border-radius: 12px;
}

.ghost {
	background: #a292bc;
	border-radius: 12px;
}

.psychic {
	background: #fa92b2;
	border-radius: 12px;
}

.rock {
	background: #d1c17d;
	border-radius: 12px;
}

.steel {
	background: #d1d1e0;
	border-radius: 12px;
}

.ice {
	background: #bce6e6;
	border-radius: 12px;
}

.dragon {
	background: #ad8cfc;
	border-radius: 12px;
}

.dark {
	background: #a29288;
	border-radius: 12px;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	transition: all 0.3s ease-in-out;
}

.modal-backdrop.open {
	opacity: 1;
	pointer-events: initial;
}

.modal-backdrop.closed {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: white;
	border-radius: 12px;
	transition: all 0.3s ease-in-out;
}

.modal.open {
	opacity: 1;
}

.modal.closed {
	opacity: 0;
}

.modal-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.modal-content-main {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: space-evenly;
	padding: 30px;
}

.modal-main-top {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.modal-main-top h1 {
	padding-bottom: 40px;
	font-size: 40px;
}

.pokemon-name-modal {
	text-transform: capitalize;
}

.pokemon-img-modal {
	width: 300px;
	height: 300px;
}

.pokemon-img-modal img {
	width: 100%;
	height: 100%;
}

.modal-content-details {
	width: 50%;
	padding: 30px;
	text-transform: capitalize;
}

.modal-content-details h1 {
	text-decoration: underline;
	padding-bottom: 10px;
}

.base-stats div {
	font-size: 20px;
}

.modal-close-button {
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 20px;
}

.closeIcon:hover {
	opacity: 0.5;
	cursor: pointer;
}

.footer {
	padding: 10px 0 10px 0;
	text-align: center;
	width: 100%;
	bottom: 0;
	flex-shrink: 0;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.footer p {
	margin: 10px;
}

.githubIcon {
	color: #000000;
	font-size: 25px;
	padding: 0 0 0 5px;
}
